@font-face {
  font-family: "Calluna";
  src: url(fonts/calluna-regular.ttf) format("truetype");
}

body {
  background: #353536;
  font-size: 1em;
  font-family: "Calluna", sans-serif;
  color: white;
}

h1 {
  font-size: 2em;
}

