@font-face {
  font-family: "Calluna";
  src: url(fonts/calluna-regular.ttf) format("truetype");
}

body {
  font-size: 1em;
  font-family: "Calluna", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

