@font-face {
  font-family: "Calluna";
  src: url(fonts/calluna-regular.ttf) format("truetype");
}

body {
  background: #212121;
  font-size: 1em;
  font-family: "Calluna", sans-serif;
  font-weight: lighter;
  color: white;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: #c4c4c4;
  font-weight: lighter;
  text-decoration: none;
}  

h2 {
  font-size: 1em;
  font-weight: lighter;
}  

ul {
  font-size: 1em;
  font-weight: lighter;
}  



